.ShowScore {
  display: flex;
  flex-direction: column;
  padding: 4vh 2vw;
}

.YourScore {
  font-family: 'HelveticaNeue-CondensedBold';
  color: orange;
  font-size: 18px;
}

.Score {
  font-family: 'HelveticaNeue-Light';
  font-size: 40px;
  display: inline;
  padding: 1vh;
}

.TotalScore {
  font-family: 'HelveticaNeue-CondensedBold';
  font-size: 22px;
  display: inline;
}

.Leaderboard {
  font-family: 'HelveticaNeue-CondensedBold';
  font-size: 22px;
  text-align: center;
}

.PlayAgain {
  border: 2px solid;
  border-radius: 12px;
  width: 20vw;
  align-self: center;
  padding:1vh 3vw 1vh 3vw;
  margin: 2vh 0 2vh 0;
  font-size: 18px;
  font-family: 'HelveticaNeue-CondensedBold';
}
