.ShowScore {
  display: flex;
  flex-direction: column;
  padding: 4vh 2vw;
}

.YourScore {
  font-family: 'HelveticaNeue-CondensedBold';
  color: orange;
  font-size: 18px;
}

.Score {
  font-family: 'HelveticaNeue-Light';
  font-size: 40px;
  display: inline;
  padding: 1vh;
}

.TotalScore {
  font-family: 'HelveticaNeue-CondensedBold';
  font-size: 22px;
  display: inline;
}

.Leaderboard {
  font-family: 'HelveticaNeue-CondensedBold';
  font-size: 22px;
  text-align: center;
}

.PlayAgain {
  border: 2px solid;
  border-radius: 12px;
  width: 20vw;
  align-self: center;
  padding:1vh 3vw 1vh 3vw;
  margin: 2vh 0 2vh 0;
  font-size: 18px;
  font-family: 'HelveticaNeue-CondensedBold';
}
.Scorer {
  border: 1px solid;
  font-size: 18px;
  padding: 1vh;
  margin: 2vh;
  font-family: 'HelveticaNeue-CondensedBold';
  background-color: #6BC5F0;
  display: inline;
  position: relative;
}

.Scorer-Orange {
  margin: 2vh;
  padding: 1vh;
  border: 1px solid;
  background-color: orange;
  font-size: 18px;
  font-family: 'HelveticaNeue-CondensedBold';
  display: inline;
  position: relative;
}

.User {
  font-size: 18px;
  font-family: 'HelveticaNeue-CondensedBold';
  color: white;
  display: inline;
}

.Ranking {
  font-size: 18px;
  font-family: 'HelveticaNeue-CondensedBold';
  display: inline;
}

.Score {
  font-size: 18px;
  font-family: 'HelveticaNeue-CondensedBold';
  color: white;
  display: inline;
  position: absolute;
  right: 2vw;
}
